* {
    margin: 0;
    padding: 0;
    font-family: nunito;
}

@font-face {
    font-family: nunito;
    src: url(../fonts/Nunito/Nunito-VariableFont_wght.ttf);
}

body,main {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(133deg, #7C81AD 0%, rgba(81, 34, 142, 0.792) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    #container {
        height: 90%;
        width: 80%;
        padding: 0 6%;
        background: linear-gradient(133deg, rgba(32,54,135,1) 0%, rgba(25,38,85,1) 100%);
        box-shadow: -0px 10px 20px #111111a8;
        border-radius: 50px;
        display: flex;
        gap: 30px;
        flex-direction: column;
        justify-content: space-between;
        color: #F9F6EE;
        #header {
            margin: 6% 0 2.5% 0;
            height: 10%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 5%;
            #icons {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 16px;
                width: 33%;
            }
            #location {
                text-align: center;
                width: 33%;
                #main-loc {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                #country {
                    color: #ffffff9f;
                }
            }
            #searchDiv{
                width: 33%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                #search {
                    width: 75%;
                    height: 2rem;
                    font-size: 1.2rem;
                    padding: 0 0 0 10%;
                    background-image: url(../imgs/magnifier.png);
                    background-repeat: no-repeat;
                    background-size: 16px;
                    background-position: 5%;
                    border-radius: 12px;
                    border: 3px #fff solid;
                    color: #fff;
                    background-color: transparent;
                }
                #btnSearch {
                    width: 20%;
                    height: 2rem;
                    font-size: 0.8rem;
                    border-radius: 12px;
                    border: 3px #fff solid;
                    color: #fff;
                    background-color: transparent;
                    transition: all 0.4s;
                }
                #btnSearch:hover {
                    cursor: pointer;
                    background: #F9F6EE;
                    color: #000;
                    font-weight: bold;
                }
            }
            .hed-ico {
                width: 35px;
            }
        }

        #main {
            margin-bottom: 6%;
            height: 60%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 5%;
            .card {
                position: relative;
                padding: 4.5% 2.5%;
                width: 36%;
                background: linear-gradient(133deg, rgba(127,176,233,1) 0%, rgba(56,118,191,1) 60%);
                box-shadow: -0px 10px 20px #111111a8;
                border-radius: 30px;
                #card-top {
                    margin-bottom: 80px;
                    display: flex;
                    gap: 16px;
                    align-items: center;
                    justify-content: space-between;
                    #top-left {
                        width: 49%;
                        text-align: center;
                        .temp {
                            font-size: 3.2rem;
                        }
                        .feel-like {
                            font-size: 1.15rem;
                        }
                    }
                    #top-right {
                        width: 49%;
                        display: flex;
                        justify-content: flex-end;
                        img {
                            margin: 0 auto;
                            width: 80%;
                        }
                    }
                }
                #card-bottom {
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-between;
                    .info-section {
                        width: 33%;
                        text-align: center;
                        img {
                            width: 32px;
                        }
                        h3 {
                            font-weight: 700;
                            font-size: 1.2rem;
                        }
                        p {
                            font-size: 1.1rem;
                        }
                    }
                }
            }
            .side {
                width: 25%;
                #card-top {
                    margin-bottom: 50px;
                    #top-left{
                        .temp {
                            font-size: 1.4rem;
                        }
                        .feel-like {
                            font-size: 0.72rem;
                        }
                    }
                }
                #card-bottom {
                    .info-section {
                        img {
                            width: 22px;
                        }
                        h3 {
                            font-size: 1rem;
                        }
                        p {
                            font-size: 0.7rem;
                        }
                    }
                }
            }
            .side::before {
                content: "";
                position: absolute;
                border-radius: 30px;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #20202096;
                opacity: .7;
            }
        }
    }
}